body, html {
    padding: 0;
    margin: 0;
    background-color: #000;
    overflow: hidden;
}

.centered {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background-image {
    height: 100vh;
    background-image: url("https://source.unsplash.com/random/1920x1080?night,city");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-image-overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
}

.logo {
    text-align: center;
    color: white;
}

.xd {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
